html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: inherit;
}

body {
  --color-highlight: rgb(49, 45, 44);
  --color-text: rgb(70, 66, 65);
  --color-light-grey: rgb(231, 228, 227);
  --color-light: rgb(251, 248, 247);
  --color-white: rgb(255, 255, 255);

  margin: 0;
  padding: 0;
  font-weight: 300;
  color: var(--color-text);
  background-color: var(--color-white);
}

.app {
  flex-direction: column;
  min-height: 27rem;
  height: 90vh;
  overflow-y: scroll;
  border: solid 1px;
}

.container {
  max-width: 60em;
  margin: auto;
}

h1,
h2 {
  margin: 0;
  color: var(--color-highlight);
}

section {
  border: solid 1px;
}

.section__title {
  font-size: 1.5rem;
}

@media (min-width: 40em) {
  .section__title {
    font-size: 2rem;
  }
}

.padding {
  padding: 1rem;
}

.padding-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-l {
  padding-left: 1rem;
}

.padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 40em) {
  .padding {
    padding: 2rem;
  }
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.title {
  font-size: 3rem;
}

@media (min-width: 40em) {
  .title {
    font-size: 4.5rem;
  }
}

.main .container {
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 40em) {
  .main .container {
    flex-direction: row;
  }
}

.recent,
.add {
  flex: 1;
}
